auxiliary_scripts
*__pycache__
data/
grass_data/
debug_checkpoints/
infer_images
*infer_result*/
debug_checkpoints_logs/
debug_images.txt
checkpoints/
outputs/
checkpoints_logs/
select_validation_results/
select_validation_results_for_eval/
select_validation_results_for_seg_grass_compare/
select_validation_results_for_det3d/
select_validation_results_for_seg_grass_model_no_lane_head/
select_validation_results_for_det3d_model_no_lane_head/
checkpoints_no_lane_seg_head/
checkpoints_training_all_head/
checkpoints_logs*
debug_infer_images/
infer_images
*.pkl
infer_results_two_images/
sixents_images/
sixents_images_infer_results/
onnx/
temp_scripts/
checkpoints_gridsample_channel_2/
processed_quant_images/
quant_images/
raw_onnx


select_seg_images/
checkpoints_for_debug/
checkpoints_convergence_requirements/
checkpoints_only_det3d/
checkpoints_only_seg/
gt_seg_images/
labels_from_lidar/
segmentation_maps/
select_validation_results_for_det/


all_checkpoints/
seg_imgs/
sixent_images/


checkpoints_seg_version*
dual_visualize_seg_maps/
infer_results_add_seg_data/
infer_results_decouple/
infer_results_overfit/
infer_segmentation_results/
synthetic_branch_images/
results
synthetic_branch_images_golf/
synthetic_branch_images_segmentation_maps
synthetic_branch_images_segmentation_maps_golf
synthetic_branch_images_tiff_images
synthetic_branch_images_tiff_images_golf
mix_image_list.txt
seg_image_list.txt

infer_results_det3d_on_synthetic_seg_road/
infer_results_seg_on_synthetic_seg_images_road/
sixents_validation_results_on_sixent_golf/
synthetic_seg_images_road/
validation_images

*.mp4
models_800X1280/


sixents_validation_results/
overfit_results/
compare_results/


*.txt
!requirements.txt



demo_dataset/

















